.title {
	text-align: center;
	text-transform: capitalize;
}

.btn {
	background: var(--primary);
	color: #fff;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	text-transform: capitalize;
	padding: 0.25rem;
	display: block;
	width: 200px;
	margin: 1rem auto;
}

.bg-grey {
	background: grey;
}

.title {
	text-transform: uppercase;
	color: red;
}
